table{
  background-color: gray;
}

td{
  border: 1px green solid;
  width: 75px;
  height: 75px;
  background-color: yellow;
}
.valid{
  background-color: green;
}
.player{

}
.pig{
  background-image: url('assets/pig.png');
  background-size: contain;
}
.bird{
  background-image: url('assets/angry-bird.png');
  background-size: contain;
}
.active{
  background-color: black;
}
