#container{
  text-align: center;
}
table{
  margin: 0 auto;
  background-color: gray;
}
td{
  border: 2px green solid;
  width: 70px;
  height: 70px;
  background-color: yellow;
}
.valid{
  background-color: green;
}
.player{

}
.pig{
  background-image: url('assets/pig.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.bird{
  background-image: url('assets/angry-bird.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.active{
  background-color: black;
}
.selected{
  border: 2px red solid;
}
